<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="navi">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Community</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search topic" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <ul  class="nav justify-content-end">
                <li>
                    <a class="nav-link" href="/publish"> Publish </a>
                </li>
                <li class="nav-item dropdown" th:if="${session.user!=null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${session.user.getName()}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Message Center</a>
                        <a class="dropdown-item" href="/profile/question">Profile</a>
                        <a class="dropdown-item" href="/logout">Sign out</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${session.user == null}">
                    <a class="nav-link" href="https://github.com/login/oauth/authorize?client_id=47fb4163e1f233df6e00&redirect_uri=http://localhost:8080/callback&scopr=user&state=1">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

</body>

</html>